a,
:active,
:link,
:visited,
:hover {
  color: #000000;
}
.routesDiv {
  border-right-width: 4px !important;
}
.entry {
  position: relative;
  overflow: auto;
  height: 100%;
  min-height: 3em;
}
.cumulativeVal {
  position: absolute;
  right: 0;
  bottom: 0;
  font-weight: bold;
}
.popout {
  position: absolute;
  top: 25%;
  left: 25%;
  z-index: 99;
  width: 240px;
  padding: 20px;
  margin-top: 5px;
  background-color: white;
  border: 1px solid #444;
  border-radius: 5px;
}
